.appointmentForm {
  max-width: 500px;
}

/* @media (min-width: 400px) {
  .appointmentForm {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 600px) {
  .appointmentForm {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 100px) {
  .appointmentForm {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1800px) {
  .appointmentForm {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
} */
