.App {
  height: 100vh;
  /* padding-bottom: 20px; */
}

.footer {
  /* height: 100px; */
}

/* .clip-text {
  height: 60vh;
  width: 100%;
  background: url(https://cdn.pixabay.com/photo/2016/07/07/16/46/dice-1502706__340.jpg);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
} */
