@import "~antd/dist/antd.css";

@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Poppins:wght@400;500;800&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;

  font-family: "Belleza", sans-serif;
}
